SECRET_KEY=sua-chave-secreta-aqui
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,10.30.166.21

DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=bdmetareciclagem
DATABASE_USER=metareciclagem_user
DATABASE_PASSWORD=sua-senha-forte-aqui
DATABASE_HOST=db
DATABASE_PORT=5432

LANGUAGE_CODE=pt-br
TIME_ZONE=America/Sao_Paulo

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=10.28.10.54
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=seu-usuario
EMAIL_HOST_PASSWORD=sua-senha
DEFAULT_FROM_EMAIL=seu-email@sorocaba.sp.gov.br

FERNET_KEY=sua-fernet-key

SECURE_SSL_REDIRECT=False
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
